@font-face {
    font-family: typewriter;
    src: url("./../assets/img/typewriter.ttf") format("truetype"); 
    /*tuve que agregar una fuente local porque no lo encontraba en google font */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: typewriter;    
    text-decoration: none; 
    list-style-type: none;          
}

/* ---------------------------------VISTA MÓVIL-------------------------------- */

@media screen and (max-width:576px) {    
   
/*------------------header mobile------------*/
    .header {
        
        width: 100%;
        background-color: black;
        padding: 0;
        
     }
     
    #titulo {
        width: 65%; 
        padding: 0;
        
     }

     #logo {
        width: 27%; 
        padding: 0;
        
     }    
    
    .header__titulo a {
    
        color: rgb(131, 127, 124);
        
        text-transform: uppercase;
    
        font-size: 75%;
    
        padding: 2rem 0.4rem;
    
        border-radius: 0.6rem;
     
        transition: all 150ms ease-in-out;
    }

.header__titulo a:hover {

         background-color: #141414;

         color: rgb(201, 200, 200);
    
    }

    /*----------navbar movil----------*/

#nav {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: black;    
}

.navbar-nav  {
    
    padding: 0.5rem;
    
    text-align: center;
    
}

.button_nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 90%;
    
}

.navbar a {
    
    text-transform: uppercase;

    color: rgb(131, 127, 124);
    
    font-size: 1.5rem;    

    transition: all 150ms ease-in-out;

    border-radius: 0.3rem;
 }
 
 .navbar a:hover {

    background-color: #141414;

    padding: 0 30%;

 }   
   
   /*---------------main mobile------------------*/

    .main {
        width: 100%;
        background-image: url("./../assets/img/logo.jpg") ;
        background-size: contain;
        padding: 0.2rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.932);
           
    }
    
    .main__fotoinicio {
        width: 90%;
    }
    
    .main__section img {
        width: 30%;
        padding: 0.2em;
        border-radius: 0.5rem;
        cursor: pointer;
        
    }

    .img_cen:active {

        transform: scale(2.5) translate(0rem, 1rem);
        transition: all 500ms ease-in-out;

   }
   .img_izq:active {

    transform: scale(2.5) translate(2.5rem, 1rem);
    transition: all 500ms ease-in-out;

   }

   .img_der:active {

    transform: scale(2.5) translate(-2.5rem, 1rem);
    transition: all 500ms ease-in-out;

   }
     /*estilos para las proximas paginas*/
    /* .main__nosotros {
        
        text-align: left;
    }

    .main__nosotros img {

        width: 45%;
    }
    
    .main__contacto {
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        font-size: 1.2rem;    
    }
    
    .main__contacto fieldset{
        margin: 0.5rem;
        padding: 1.5rem;
    }
    
    .main__contacto form {
        text-align: left;
            
    } */

    /*-------------------footer mobile---------------------*/

.footer {
    width: 100%;
    color: rgb(131, 127, 124);
    background-color: black;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
     
}

.footer_centrado {
    width: 90%;
}

.footer__contacto {
    
    padding: 0.3rem;
   
}
.footer__contacto li {
    font-size: 78%;
}

.footer__redes a{
    margin: 0.2rem;
    text-decoration: none;
    color: rgb(163, 162, 160);
    padding: 3.5rem 1rem;
    width: 100%;
}

.footer__redes li {
    line-height: 2rem;
}
.footer__ubicacion {
    padding: 0.8rem;
    width: 100%;
}

}

/* ------------------VISTA MÓVIL L-------------------------------- */

@media screen and (min-width:577px) and (max-width:767px) {
    
    
/*------------------header mobile L------------*/
   
.header {
        
        width: 100%;
        background-color: rgb(0, 0, 0);
        padding: 0;
        
     }
     
    #titulo {
        width: 65%; 
        padding: 0;
        
     }
     #logo {
        width: 35%; 
        padding: 0;
        
     }    
    
    .header__titulo a {
    
        color: rgb(131, 127, 124);
        
        text-transform: uppercase;
    
        font-size: 1.3rem;
    
        padding: 2rem 0.4rem;
    
        border-radius: 0.6rem;
     
        transition: all 150ms ease-in-out;
    }

.header__titulo a:hover {

         background-color: #141414;

         color: rgb(201, 200, 200);
    
    }
    
    /*----------navbar movil L----------*/

#nav {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: black;
    
}

.navbar-nav  {
    
    padding: 0.2rem;
    
    text-align: center;
    
}

.button_nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 90%;    
}

.navbar a {
    
    text-transform: uppercase;

    color: rgb(131, 127, 124);
    
    font-size: 1.5rem;    

    transition: all 150ms ease-in-out;

    border-radius: 0.3rem;
 }
 
 .navbar a:hover {

    background-color: #141414;

    padding: 1.1rem;

 }   
   
   /*---------------main mobile L------------------*/

    .main {
        width: 100%;
        background-image: url("./../assets/img/logo.jpg") ;
        background-size: contain;
        padding: 0.2rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.932);
            
    }
    
    .main__fotoinicio {
        width: 90%;
    }
    
    .main__section img {
        width: 30%;
        padding: 0.2em;
        border-radius: 0.5rem;
        transition: all 500ms ease-in-out;
        cursor: pointer;
        
    }

    .img_cen:active {

        transform: scale(2.5) translate(0rem, 1rem);
        transition: all 500ms ease-in-out;

   }
   .img_izq:active {

    transform: scale(2.5) translate(3.5rem, 1rem);
    transition: all 500ms ease-in-out;

   }

   .img_der:active {

    transform: scale(2.5) translate(-3.5rem, 1rem);
    transition: all 500ms ease-in-out;

   }
   /*estilos para las proximas paginas*/
     
    /* .main__nosotros {
        
        text-align: left;
    }

    .main__nosotros img {

        width: 45%;
    }
    
    .main__contacto {
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        font-size: 1.2rem;    
    }
    
    .main__contacto fieldset{
        margin: 0.5rem;
        padding: 1.5rem;
    }
    
    .main__contacto form {
        text-align: left;
            
    } */
        
    /*----------------------footer mobile L--------------------*/

.footer {
    width: 100%;
    color: rgb(131, 127, 124);
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 0.2rem 0rem;
     
}

.footer_centrado {
    width: 90%;
}

.footer__redes a{
    margin: 0.2rem;
    text-decoration: none;
    color: rgb(163, 162, 160);
    padding: 3.5rem 1rem;
    width: 100%;
    
}

.footer__redes  li {
    line-height: 2.3rem;
}

.footer__ubicacion {
    padding: 0.8rem;
    width: 100%;
}
}

/*---------------------------------- VISTA TABLET------------------------------- */

@media only screen and (min-width:768px) and (max-width:992px) {   

/*---------------------header tablet----------------*/

    .header {
        
        width: 100%;
        background-color: black;
        padding: 0rem;
       
    }
    
     #logo {
        height: 9rem; 
        padding: 0;
        
     }  
    
    .header__titulo a {
    
        color: rgb(131, 127, 124);
        
        text-transform: uppercase;
    
        font-size: 100%;
    
        padding: 4rem 0.7rem;

        border-radius: 0.6rem;
    
        transition: all 150ms ease-in-out;
    }

.header__titulo a:hover {

    background-color: #141414;

    color: rgb(201, 200, 200);
    
    }    
    
    /*---------navbar tablet---------------*/

#nav {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(31, 30, 30);
    
}

.navbar-nav  {
    
    padding: 0rem ;
}

.menu_centrado {
        
    display: flex;
    justify-content: space-around;
        
}

.navbar li {
       
    padding: 0.1rem 0.2rem;
}

.navbar a {

    
    text-transform: uppercase;

    color: rgb(131, 127, 124);
    
    font-size: 1.7rem;
    
    padding: 0.2rem 0rem;

    transition: all 150ms ease-in-out;

    border-radius: 0.3rem;
 }
 
 .navbar a:hover {

    background-color: #141414;

    padding: 0.3rem;

 }   
    
   /*---------------main tablet------------------*/

    .main {
        width: 100%;
        background-image: url("./../assets/img/logo.jpg") ;
        background-size: contain;
        padding: 1rem 0.2rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.932);
        
    
    
    }
    
    .main__fotoinicio {
        width: 90%;
    }
    
    .main__section img {
        width: 30%;
        padding: 0.2em;
        border-radius: 0.5rem;
        transition: all 500ms ease-in-out;
        cursor: pointer;
        
    }

    .img_cen:active {

        transform: scale(2) translate(0rem, 1rem);
        transition: all 500ms ease-in-out;

   }
   .img_izq:active {

    transform: scale(2) translate(3.5rem, 1rem);
    transition: all 500ms ease-in-out;

   }

   .img_der:active {

    transform: scale(2) translate(-3.5rem, 1rem);
    transition: all 500ms ease-in-out;

   }
     /*estilos para las proximas paginas*/

    /* .main__nosotros {
        
        text-align: left;
    }
    
    .main__nosotros img {

        width: 40%;
    }

    .main__contacto {
        display: inline-block;
        display: flex;
        justify-content: space-around;
        padding: 3.5rem 0.2rem;
        font-size: 1.5rem;    
    }
    
    .main__contacto fieldset{
        margin: 0rem;
        padding: 0.5rem;
    }

    .main__contacto li {
        padding: 0.8rem 0rem;
        font-size: 70%;
}
    
    .main__contacto form {
        text-align: left;
          
    }
    .main__contacto label {
        font-size: 70%;
    }

    .main__contacto textarea {
        width: 80%;
    } */

    
    /*------------footer tablet-----------*/

.footer {
    width: 100%;
    color: rgb(131, 127, 124);
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    
     
}
.footer_centrado {
    width: 95%;
}


.footer__contacto {
    padding: 1rem;
    
}


.footer__contacto li {
    font-size: 70%;
}

.footer__contacto--direccon {
    font-size: 70%;
}

.footer__redes {

    padding: 1rem 0.2rem;
 }

 .footer__redes ul li {
    line-height: 1.8rem;
}

.footer__redes a{
    margin: 0.3rem;
    text-decoration: none;
    color: rgb(163, 162, 160);
    padding: 1.5rem 1rem;
    font-size: 85%;
    
}


.footer__ubicacion{
    padding: 0.5rem;  
    width: 100%;
    
}
}

/*----------------------------- VISTA ESCRITORIO ---------------------------*/

@media only screen and (min-width:992px) {
/*arranco de 992px para porder trabajar en conjunto con la medida "lg" de bootstrap  */
   

/* -------------header desktop---------- */

.header {
    width: 100%;
    background-color: black;
    padding: 0.5rem 0rem;
    
}

#logo {
    height: 15rem; 
    padding: 0;
    
 }

 #titulo {
     padding: 1rem 0rem;
 }

.header__titulo a {

    color: rgb(131, 127, 124);
    
    text-transform: uppercase;

    font-size: 150%;

    padding: 5rem 1rem;

    border-radius: 0.6rem;

    transition: all 150ms ease-in-out;
}

.header__titulo a:hover {

    background-color: #141414;

    color: rgb(201, 200, 200);

}

/*-------------------navbar desktop-------------*/

#nav {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(31, 30, 30);
}

.navbar-nav  {
    
    padding: 0rem;
}

.menu_centrado {
        
    display: flex;
    justify-content: space-around;
        
}

.navbar li {
    
    display: inline-block;
    padding: 0.1rem 1.1rem;
      
}

.navbar a {

    
    text-transform: uppercase;

    color: rgb(131, 127, 124);
    
    font-size: 2rem;
    
    padding: 1rem;

    transition: all 150ms ease-in-out;

    border-radius: 0.3rem;
 }
 
 .navbar a:hover {

    background-color: #141414;

    padding: 1.1rem ;

 }   
    

/*--------------main desktop----------------*/

.main {
    width: 100%;
    background-image: url("./../assets/img/logo.jpg") ;
    background-size: contain;
    padding: 3rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.932);
    
}

.main__fotoinicio {
    width: 90%;
}

.main__section img {
    width: 30%;
    padding: 0.2rem;
    border-radius: 0.5rem;
    transition: all 500ms ease-in-out;
    cursor: pointer;
        
    }

 .img_cen:active {

        transform: scale(1.8) translate(0rem, 1rem);
        transition: all 500ms ease-in-out;

   }
 .img_izq:active {

    transform: scale(1.8) translate(3.5rem, 1rem);
    transition: all 500ms ease-in-out;

   }

 .img_der:active {

    transform: scale(1.8) translate(-3.5rem, 1rem);
    transition: all 500ms ease-in-out;

   }
 
/*estilos para las proximas paginas*/

/* .main__nosotros {
    
    text-align: left;
}

.main__nosotros img {

    width: 40%;
}

.main__contacto {
    display: inline-block;
    display: flex;
    justify-content: space-around;
    padding: 5.5rem;
    font-size: 1.5rem;    
}

.main__contacto fieldset{
    margin: 0.5rem;
    padding: 1.5rem;
}

.main__contacto form {
    text-align: left;
    

} */

/*------------footer desktop-----------*/

.footer {
    width: 100%;
    color: rgb(131, 127, 124);
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 1rem;
    
     
}

.footer_centrado {
    width: 90%;
}


.footer__contacto {
    padding: 0rem;
    
}

.footer__contacto li {
    font-size: 90%;
}

.footer__redes {

    padding: 1rem 2rem;
    

}
.footer__redes li {
    line-height: 2rem;
}

.footer__redes a{
    text-decoration: none;
    color: rgb(163, 162, 160);
    padding: 1.5rem 1rem;
    
}

.footer__ubicacion{
    padding: 1rem;
    width: 100%;
}
    
    
}